<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchoolSage | Finance</title>

    <!-- ICONSCOUNT CDN -->
    <link rel="stylesheet" href="./../static/css/unicons.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- SWIPER CSS -->
    <link rel="stylesheet" href="./../static/css/swiper-bundle.min.css">
    
    <!-- FONT FAMILY -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./../static/css/style.css">
    
</head> 
<body>
    <!-- ================================== NAV START ================================= -->
    <nav>
        <div class="container nav__container">
            <a href="home.html"><h4><span>S</span>choolSage</h4></a>
            <ul class="nav__menu">
                <li><a href="parents.html">For Parents</a></li>
                <li><a href="schools.html">For Schools</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="#">Login</a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
        </div>
    </nav>

    <!-- ============================= NAV ENDS ========================================== -->


    <!-- ============================== HEADER STARTS ===================================== -->
    <header>
        <div class="container header__container">
            <div class="header__left">
                <h1>Hi Money Mogul!</h1>
                <p>Professionals in finance are responsible for managing financial resources, analyzing market trends, and making strategic decisions to optimize financial performance. They assess investment opportunities, manage risk, and develop financial plans to meet organizational goals. Finance professionals may work in various sectors, including banking, investment management, corporate finance, or financial consulting. Their duties may include financial analysis, budgeting, forecasting, financial reporting, investment analysis, and portfolio management. Overall, they play a critical role in ensuring the efficient allocation of resources, maximizing profitability, and mitigating financial risks for individuals, organizations, and institutions.</p>
                
            </div>
            <div class="header__right">
                <div class="header__right-image">
                    <img src="./../static/images/header.svg" alt="header">
                </div>
            </div>
        </div>
    </header>

    <!-- ================================= HEADER ENDS ========================================== -->
    <!-- ================================= CATEGORIGES STARTS =================================== -->
    <section class="categories">
        <div class="container categories__container">
            <div class="categories__left">
                <h1>What do you need?</h1>
                <p>Never to be caught unfresh. Here are essential technical and soft skills you need to excel in this field. Guess what? It's not too early to start building them.</p>
                <a href="contact.html" class="btn btn-primary">Learn from Experts</a>
            </div>

            <!-- ================================ CATEGORIES ARTICLE STARTS =============================== -->
            <div class="categories__right">
                
                <article class="category">
                    <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                    <h5>Knowledge requirements</h5>
                    <p>● Mathematics</p>

                    <p>● Economics</p>
                        
                    <p>● Accounting</p>
                        
                    <p>● Business Studies</p>
                    

                </article>

                <article class="category">
                    <span class="category__icon"><i class="uil uil-palette"></i></span>
                    <h5>Skillset required</h5>
                    <p>Numerical and Analytical Skills</p>
                    <p>Critical Thinking and Problem-Solving Abilities</p>
                    <p>Attention to Detail and Accuracy</p>
                    <p>Communication Skills</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="uil uil-usd-circle"></i></span>
                    <h5>Technology Tools</h5>
                    <p>Financial Modeling Software e.g Python </p>
                    <p>Accounting Software e.g QuickBooks</p>
                    <p>Microsoft Excel</p>
                    <p>Database Management Systems e.g SQL</p>


                </article>

                <!--article class="category">
                    <span class="category__icon"><i class="uil uil-megaphone"></i></span>
                    <h5>Arts</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, ipsa.</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="uil uil-music"></i></span>
                    <h5>Governance</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, ipsa.</p>
                </article>
                
                <article class="category">
                    <span class="category__icon"><i class="uil uil-puzzle-piece"></i></span>
                    <h5>Technology</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, ipsa.</p>
                </article>

            </div>
            <!-- ============================ CAREGORIES ARTICLES ENDS ================================ -->
        </div>
    </section>

    <!-- =============================== CATEGORIES ENDS ========================== -->

    <!-- =========================== COURSES STARTS ======================== -->
    <section class="courses">
        <h2>List of universities offering this course</h2>
        <div class="container courses__container">
            <article class="course">
                <div class="course__image">
                    <img src="./../static/images/course1.jpg" alt="">
                </div>
                <div class="course__info">
                    <h4>Babcock University</h4>
                    <p>
                        JAMB UTME Subject Combination: Mathematics, Economics, and any other Social Science subject
O'Level Requirements: Five O'Level credit passes in Mathematics, English Language, Economics, and any other two relevant subjects.
                    </p>
                    <a href="https://www.babcock.edu.ng/program/bsc-finance" class="btn btn-primary">Learn More</a>
                </div>
            </article>

            <article class="course">
                <div class="course__image">
                    <img src="./../static/images/course2.jpg" alt="">
                </div>
                <div class="course__info">
                    <h4>Covenant University

                    </h4>
                    <p>
                        JAMB UTME Subject Combination: Mathematics, Economics, and any other Social Science subject
O'Level Requirements: Five O'Level credit passes in Mathematics, English Language, Economics, and any other two relevant subjects.
                    </p>
                    <a href="https://covenantuniversity.edu.ng/study/colleges/college-of-management-and-social-sciences" class="btn btn-primary">Learn More</a>
                </div>
                </article>

            <article class="course">
                <div class="course__image">
                    <img src="./../static/images/course3.jpg" alt="">
                </div>
                <div class="course__info">
                    <h4>University of Benin (UNIBEN)</h4>
                    <p>
                        JAMB UTME Subject Combination: Mathematics, Economics, and any other Social Science subject
                        O'Level Requirements: Five O'Level credit passes in Mathematics, English Language, Economics, and any other two relevant subjects.
                    </p>
                    <a href="https://mgtsci.uniben.edu/banking-and-finance/" class="btn btn-primary">Learn More</a>
                </div>
            </article>
        </div>
    </section>
    <!-- ============================= COURSES ENDS ======================== -->

    <!-- ========================= FAQS CONTAINERS =========================== -->

    <section class="faqs">
        <h2>Future Prospects</h2>
        <div class="container faqs__container">
            <!-- ARTICLES 1 -->
            <article class="faq">
                <!--div class="faq__icon"><i class="uil uil-plus"></i></div-->
                <div class="question__answer">
                    <h4>Fintech</h4>
                    <p>
                        The fintech sector in Nigeria is rapidly evolving, driven by innovation in digital payments, lending, crowdfunding, and other financial services. Finance professionals with expertise in financial technology can work in fintech startups, technology companies, or traditional financial institutions embracing digital transformation.

                    </p>
                </div>
            </article>

            <!-- ARTICLES 2 -->
            <article class="faq">
                <!--div class="faq__icon"><i class="uil uil-plus"></i></div-->
                <div class="question__answer">
                    <h4>Asset Management</h4>
                    <p>
                        Asset management firms manage investment portfolios on behalf of individuals, institutions, and corporate clients. Finance professionals in asset management roles analyze investment opportunities, develop investment strategies, and monitor portfolio performance.


                    </p>
                </div>
            </article>

            <!-- ARTICLES 3 -->
            <article class="faq">
                <!--div class="faq__icon"><i class="uil uil-plus"></i></div-->
                <div class="question__answer">
                    <h4>Banking and Financial Services</h4>
                    <p>
                        The banking industry in Nigeria is robust, with numerous commercial banks, microfinance institutions, and other financial services providers. Finance professionals can work in various roles such as retail banking, corporate banking, investment banking, wealth management, and risk management.
                    </p>
                </div>
            </article>

            <!-- ARTICLES 4 -->
            <article class="faq">
                <!--div class="faq__icon"><i class="uil uil-plus"></i></div-->
                <div class="question__answer">
                    <h4>Capital Markets</h4>
                    <p>
                        Nigeria's capital markets, including the Nigerian Stock Exchange (NSE) and the bond market, offer opportunities for finance professionals in areas such as securities trading, investment analysis, portfolio management, and brokerage services.

                    </p>
                </div>
            </article>

            <!-- ARTICLES 5 -->
            <article class="faq">
                <!--div class="faq__icon"><i class="uil uil-plus"></i></div-->
                <div class="question__answer">
                    <h4>Corporate Finance</h4>
                    <p>
                        Many companies in Nigeria require expertise in corporate finance to manage their financial activities effectively. Finance professionals can work in corporate finance departments, assisting with financial planning, budgeting, fundraising, mergers and acquisitions, and financial risk management.
                    </p>
                </div>
            </article>

            <!-- ARTICLES 6 -->
            <article class="faq">
                <!--div class="faq__icon"><i class="uil uil-plus"></i></div-->
                <div class="question__answer">
                    <h4>Insurance</h4>
                    <p>
                        The insurance industry in Nigeria is experiencing growth, driven by increasing awareness of risk management and regulatory reforms. Finance professionals can work in insurance companies in roles such as underwriting, actuarial analysis, claims management, and insurance brokerage.
                    </p>
                </div>
            </article>

            

            
        </div>
    </section>

    <!-- ===================== FAQS ENDS ====================== -->
    <!-- ======================= TESTIMONIALS STARTS ====================== -->

    <section class="container testimonials__container mySwiper">
        <h2>Speak to a Career Coach</h2>
        <div class="swiper-wrapper">

            <!-- ARTICLES 1 -->
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="./../static/images/avatar1.jpg" />
                </div>
                <div class="testimonial__info">
                    <h5>Azeez</h5>
                    <small>Career Coach</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Azeez is a dynamic young professional with a robust background in finance, investment, and operations management. 
                    </p>
                </div>
            </article>

            <!-- ARTICLES 2 -->
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="./../static/images/avatar2.jpg" />
                </div>
                <div class="testimonial__info">
                    <h5>Omolade</h5>
                    <small>Career Coach</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Omolade is an Amazon Web Services community builder, collaborating with top talents worldwide to conduct training sessions on the latest cloud technologies for new users. 
                    </p>
                </div>
            </article>

            <!-- ARTICLES 3 -->
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="./../static/images/avatar3.jpg" />
                </div>
                <div class="testimonial__info">
                    <h5>Feyisayo</h5>
                    <small>Career Coach</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Feyisayo is a dynamic professional aspiring to excel in growth management, backed by experience in sales, marketing, customer service, and brand management. 
                    </p>
                </div>
            </article>

            <!-- ARTICLES 4 -->
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="./../static/images/avatar2.jpg" />
                </div>
                <div class="testimonial__info">
                    <h5>Esther</h5>
                    <small> Career Coach</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Esther brings a wealth of professional experience spanning Sales, Corporate Communications, and her most recent role at the pan-African Heirs Holdings Group.
                    </p>
                </div>
            </article>

            <!-- ARTICLES 5 
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="./images/avatar5.jpg" />
                </div>
                <div class="testimonial__info">
                    <h5>Samuel Peters</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cupiditate modi, fuga fugit pariatur rerum praesentium facilis quae, accusamus distinctio vel quaerat recusandae, dicta nobis laboriosam architecto officiis obcaecati! Magni!
                    </p>
                </div>
            </article>

            <!-- ARTICLES 6 
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="./images/avatar6.jpg" />
                </div>
                <div class="testimonial__info">
                    <h5>Kate Isa'ac</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cupiditate modi, fuga fugit pariatur rerum praesentium facilis quae, accusamus distinctio vel quaerat recusandae, dicta nobis laboriosam architecto officiis obcaecati! Magni!
                    </p>
                </div>
            </article>

            <!-- ARTICLES 7 
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="./images/avatar7.jpg" />
                </div>
                <div class="testimonial__info">
                    <h5>Jedidiah Jonathan</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cupiditate modi, fuga fugit pariatur rerum praesentium facilis quae, accusamus distinctio vel quaerat recusandae, dicta nobis laboriosam architecto officiis obcaecati! Magni!
                    </p>
                </div>
            </article> -->
        </div> 
        <div class="swiper-pagination"></div>
    </section>

    <!-- ====================== TESTIMONIALS ENDS ========================== -->


    <!-- =========================== FOOTER STARTS ================================= -->

    <footer class="footer">
        <div class="container footer__container">
            <!-- ====================== FOOTER GRID =========================== -->

            <!-- ====================== FOOTER ONE ============================= -->
            <div class="footer__1">
                <a href="home.html" class="footer__logo"><h4>SchoolSage</h4></a>
                <p>Embark on a Journey of Self-Discovery and Academic Exploration.</p>
            </div>

            <!-- ====================== FOOTER TWO ============================= -->
            <div class="footer__2">
                <h4>Links</h4>
                <ul class="Links">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="courses.html">Courses</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>

            <!-- ======================= FOOTER THREE ============================ -->
            <div class="footer__3">
                <h4>Privacy</h4>
                <ul class="privacy">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Refund Policy</a></li>
                </ul>
            </div>

            <!-- ===================== FOOTER FOUR =============================== -->
            <div class="footer__4">
                <h4>Contact</h4>
                <div class="footer__text">
                    <p>+234 80 000 000 000</p>
                    <p>nutm@gmail.com <br /> SchoolSage@gmail.com</p>
                </div>

                <ul class="footer__socials">
                    <li><a href="#"><i class="uil uil-facebook-f"></i></a></li>
                    <li><a href="#"><i class="uil uil-instagram-alt"></i></a></li>
                    <li><a href="#"><i class="uil uil-twitter"></i></a></li>
                    <li><a href="#"><i class="uil uil-linkedin-alt"></i></a></li>

                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <small>&#169; SchoolSage. All rights reserved</small>
        </div>
    </footer>
    
    <!-- ===================== SWIPER JS ====================== -->
    <script src="./../static/js/swiper-bundle.min.js"></script>

    <script src="./../static/js/main.js"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            // When windows width is => 600px
            breakpoints : {
                600: {
                    slidesPerView: 2
                }
            }
        });
    </script>
</body>
</html>