<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchoolSage | Home</title>

    <!-- ICONSCOUNT CDN -->
    <link rel="stylesheet" href="./../static/css/unicons.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- SWIPER CSS -->
    <link rel="stylesheet" href="./css/swiper-bundle.min.css">
    
    <!-- FONT FAMILY -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./../static/css/style.css">
    
</head> 
<body>
    <!-- ================================== NAV START ================================= -->
    <nav>
        <div class="container nav__container">
            <a href="home.html"><h4><span>S</span>choolSage</h4></a>
            <ul class="nav__menu">
                <li><a href="parents.html">For Parents</a></li>
                <li><a href="schools.html">For Schools</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
        </div>
    </nav>

    <!-- ============================= NAV ENDS ========================================== -->


    <!-- ============================== HEADER STARTS ===================================== -->
    <header>
        <div class="container header__container">
            <div class="header__left">
                <h1>Embark on a Journey of Self-Discovery and Academic Exploration!</h1>
                <p>Explore Courses Tailored to You! Get Insights into Professions, Skills, Tech Tools, and Job Prospects. Uncover University Requirements and Start Your Journey Today
                    </p>
                <a href="https://hwnpoe1zw5j.typeform.com/to/CGQcUAJy" class="btn btn-primary">Start here</a>
            </div>
            <div class="header__right">
                <div class="header__right-image">
                    <img src="./../static/images/students.png" alt="header">
                </div>
            </div>
        
    </header>

    <!-- ================================= HEADER ENDS ========================================== -->
    <!-- ================================= CATEGORIGES STARTS =================================== -->
    <section class="categories">
        <div class="container categories__container">
            <div class="categories__left">
                <h1>Discover Your Path</h1>
                <p>Uncover Your Passions, Skills, and Ambitions to Find the Perfect Path for Your Educational and Career Success</p>
                
            </div>

            <!-- ================================ CATEGORIES ARTICLE STARTS =============================== -->
            <div class="categories__right">
                
                <article class="category">
                    <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                    <h5><a href="./mechanical.html">Engineering</a></h5>
                    <p>Ready to explore the world of engineering? Find out more.</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="uil uil-palette"></i></span>
                    <h5><a href="./medicine.html">Medical Sciences</a></h5>
                    <p>Ready to delve into the fascinating world of medical sciences? Discover more now.</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="uil uil-usd-circle"></i></span>
                    <h5><a href="./finance.html">Business</a></h5>
                    <p>Ready to unlock your business potential? Explore these now.</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="uil uil-megaphone"></i></span>
                    <h5><a href="./arts.html">Arts</a></h5>
                    <p>Unleash your creativity and explore art. Start your artistic journey today!</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="uil uil-music"></i></span>
                    <h5><a href="./law.html">Governance</a></h5>
                    <p>Ready to shape the future of governance? Start your journey now!</p>
                </article>
                
                <article class="category">
                    <span class="category__icon"><i class="uil uil-puzzle-piece"></i></span>
                    <h5><a href="./technology.html">Technology</a></h5>
                    <p>Begin your exploration and discover where your creativity meets innovation.</p>
                </article>

            </div>
            <!-- ============================ CAREGORIES ARTICLES ENDS ================================ -->
        </div>
    </section>

    <!-- =============================== CATEGORIES ENDS ========================== -->

    <!-- =========================== COURSES STARTS ======================== -->

    <section class="courses">
        <h2>Our Offerings (3 Unique Ps)</h2>
        <div class="container courses__container">
            <article class="course">
                <div class="course__image">
                    <img src="C:\Users\Azeez\Desktop\Hackathon updated\static\images\performance.svg" alt="">
                </div>
                <div class="course__info">
                    <h4>Performance Tracker</h4>
                    <p>
                        Stop stressing, start thriving! Sign up for our revolutionary performance tracker platform today and take control of your academic success or that of your ward/student. Track progress, set goals, and achieve your full potential. Contact us today for a free trial and unlock a brighter future!
                    </p>
                    <a href="./../Student-Dashboard-main/Student-Dashboard-main/index.html" class="btn btn-primary">Learn More</a>
                </div>
            </article>

            <article class="course">
                <div class="course__image">
                    <img src="C:\Users\Azeez\Desktop\Hackathon updated\static\images\Exam.svg" alt="">
                </div>
                <div class="course__info">
                    <h4>Preparatory Toolkit</h4>
                    <p>
                        Give your students the confidence to excel in external exams (e.g WAEC, NECO, JAMB). We offer simulated exams mirroring the format and content of these exams. Partner with us to equip your students with the knowledge they need to shine, boosting your school's reputation.
.
                    </p>
                    <a href="courses.html" class="btn btn-primary">Learn More</a>
                </div>
                </article>

            <article class="course">
                <div class="course__image">
                    <img src="C:\Users\Azeez\Desktop\Hackathon updated\static\images\coach.svg" alt="">
                </div>
                <div class="course__info">
                    <h4>Personalized Coaching</h4>
                    <p>
                        Struggling to find the right academic support system for your kids or students? We offer a customized approach to unlock your ward's full potential. Our network of experienced and qualified coaches and tutors offers services specifically designed for secondary school students.


                    </p>
                    <a href="contact.html" class="btn btn-primary">Learn More</a>
                </div>
            </article>
        </div>
    </section>
    <!-- ============================= COURSES ENDS ======================== -->

    <!-- ================================= CATEGORIGES STARTS =================================== -
    <section class="categories">
        <div class="container categories__container">
            <div class="categories__left">
                <h1>Discover Your Path</h1>
                <p>Uncover Your Passions, Skills, and Ambitions to Find the Perfect Path for Your Educational and Career Success</p>
                
            </div>

            <!-- ================================ CATEGORIES ARTICLE STARTS =============================== -->
            <div class="categories__right">
                
                <!-- <article class="category">
                    <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                    <h5><a href="courses.html#engineeringcategory">Engineering</a></h5>
                    <p>Ready to explore the world of engineering? Find out more.</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="uil uil-palette"></i></span>
                    <h5><a href="courses.html#medicalsciencescategory">Medical Sciences</a></h5>
                    <p>Ready to delve into the fascinating world of medical sciences? Discover more now.</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="uil uil-usd-circle"></i></span>
                    <h5><a href="courses.html#businesscategory">Business</a></h5>
                    <p>Ready to unlock your business potential? Explore these now.</p>
                </article> -->

              <!--  <article class="category">
                    <span class="category__icon"><i class="uil uil-megaphone"></i></span>
                    <h5><a href="courses.html#artscategory">Arts</a></h5>
                    <p>Unleash your creativity and explore art. Start your artistic journey today!</p>
                </article> 

                <article class="category">
                    <span class="category__icon"><i class="uil uil-music"></i></span>
                    <h5><a href="courses.html#governancecategory">Governance</a></h5>
                    <p>Ready to shape the future of governance? Start your journey now!</p>
                </article>
                
                <article class="category">
                    <span class="category__icon"><i class="uil uil-puzzle-piece"></i></span>
                    <h5><a href="courses.html#technologycategory">Technology</a></h5>
                    <p>Begin your exploration and discover where your creativity meets innovation.</p>
                </article> 
-->
            </div>
            <!-- ============================ CAREGORIES ARTICLES ENDS ================================ -->
        </div>
    </section>

    <!-- =============================== CATEGORIES ENDS ========================== -->

    <!-- ========================= FAQS CONTAINERS =========================== -->

    <section class="faqs">
        <h2>Frequently Asked Questions</h2>
        <div class="container faqs__container">
            <!-- ARTICLES 1 -->
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do I know the right courses for me</h4>
                    <p>
                        Our platform offers personalized recommendations based on your profile and preferences. You can explore various courses, read reviews, and assess syllabi to ensure alignment with your objectives. Additionally, leveraging our career assessments and guidance tools can help narrow down options and identify suitable paths tailored to your aspirations.
                </div>
            </article>

            <!-- ARTICLES 2 -->
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do I find out more about courses</h4>
                    <p>
                        Our platform provides comprehensive course information, including descriptions, syllabi, instructor profiles, and student reviews. You can explore course content, delivery formats, and prerequisites to determine if a course meets your needs.
                    </p>
                </div>
            </article>

            <!-- ARTICLES 3 -->
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>I'm not sure where to start from. What do I do?</h4>
                    <p>
                        If you're uncertain where to begin, don't worry - we're here to help. Start by exploring our platform's resources, including curated learning paths, career assessments, and educational content. Our personalized recommendations can guide you based on your interests, goals, and current skill level. Additionally, consider scheduling a consultation with one of our educational advisors who can provide tailored guidance and support to kickstart your learning journey. Remember, taking the first step is often the hardest, but we're committed to helping you navigate the process with confidence and clarity.
                    </p>
                </div>
            </article>

            <!-- ARTICLES 4 -->
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How can I connect with a tutor</h4>
                    <p>
                        Connecting with a tutor is simple through our platform. You can browse tutor profiles, which highlight their expertise, teaching style, and availability. Once you find a suitable match, you can schedule sessions directly through our platform. Our messaging system enables seamless communication, allowing you to discuss your learning objectives, schedule sessions, and receive personalized instruction to enhance your understanding and skills.
                    </p>
                </div>
            </article>
        </div>
    </section>

    <!-- ===================== FAQS ENDS ====================== -->

   <!-- ======================= TESTIMONIALS STARTS ====================== -->

   <section class="container testimonials__container mySwiper">
    <h2>Speak to a Career Coach</h2>
    <div class="swiper-wrapper">

        <!-- ARTICLES 1 -->
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="./../static/images/avatar1.jpg" />
            </div>
            <div class="testimonial__info">
                <h5>Azeez</h5>
                <small>Career Coach</small>
            </div>
            <div class="testimonial__body">
                <p>
                    Azeez is a dynamic young professional with a robust background and practical experience in finance, investment, and operations management. 
                </p>
            </div>
        </article>

        <!-- ARTICLES 2 -->
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="./../static/images/avatar2.jpg" />
            </div>
            <div class="testimonial__info">
                <h5>Omolade</h5>
                <small>Career Coach</small>
            </div>
            <div class="testimonial__body">
                <p>
                    Omolade is an Amazon Web Services community builder, collaborating with top talents worldwide to conduct training sessions on the latest cloud technologies for new users. 
                </p>
            </div>
        </article>

        <!-- ARTICLES 3 -->
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="./../static/images/avatar3.jpg" />
            </div>
            <div class="testimonial__info">
                <h5>Feyisayo</h5>
                <small>Career Coach</small>
            </div>
            <div class="testimonial__body">
                <p>
                    Feyisayo is a dynamic professional aspiring to excel in growth management, backed by experience in sales, marketing, customer service, and brand management. 
                </p>
            </div>
        </article>

        <!-- ARTICLES 4 -->
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="./../static/images/avatar4.jpg" />
            </div>
            <div class="testimonial__info">
                <h5>Esther</h5>
                <small> Career Coach</small>
            </div>
            <div class="testimonial__body">
                <p>
                    Esther brings a wealth of professional experience spanning Sales, Corporate Communications, and her most recent role at the pan-African Heirs Holdings Group.
                </p>
            </div>
        </article>



        <!-- ARTICLES 5 
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="./images/avatar5.jpg" />
            </div>
            <div class="testimonial__info">
                <h5>Samuel Peters</h5>
                <small>Student</small>
            </div>
            <div class="testimonial__body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cupiditate modi, fuga fugit pariatur rerum praesentium facilis quae, accusamus distinctio vel quaerat recusandae, dicta nobis laboriosam architecto officiis obcaecati! Magni!
                </p>
            </div>
        </article>

        <!-- ARTICLES 6 
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="./images/avatar6.jpg" />
            </div>
            <div class="testimonial__info">
                <h5>Kate Isa'ac</h5>
                <small>Student</small>
            </div>
            <div class="testimonial__body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cupiditate modi, fuga fugit pariatur rerum praesentium facilis quae, accusamus distinctio vel quaerat recusandae, dicta nobis laboriosam architecto officiis obcaecati! Magni!
                </p>
            </div>
        </article>

        <!-- ARTICLES 7 
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="./images/avatar7.jpg" />
            </div>
            <div class="testimonial__info">
                <h5>Jedidiah Jonathan</h5>
                <small>Student</small>
            </div>
            <div class="testimonial__body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cupiditate modi, fuga fugit pariatur rerum praesentium facilis quae, accusamus distinctio vel quaerat recusandae, dicta nobis laboriosam architecto officiis obcaecati! Magni!
                </p>
            </div>
        </article> -->
    </div> 
    <div class="swiper-pagination"></div>
</section>
    <!-- ====================== TESTIMONIALS ENDS ========================== -->


    <!-- =========================== FOOTER STARTS ================================= -->

    <footer class="footer">
        <div class="container footer__container">
            <!-- ====================== FOOTER GRID =========================== -->

            <!-- ====================== FOOTER ONE ============================= -->
            <div class="footer__1">
                <a href="home.html" class="footer__logo"><h4>SchoolSage</h4></a>
                <p>Embark on a Journey of Self-Discovery and Academic Exploration.</p>
            </div>

            <!-- ====================== FOOTER TWO ============================= -->
            <div class="footer__2">
                <h4>Links</h4>
                <ul class="Links">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="courses.html">Courses</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>

            <!-- ======================= FOOTER THREE ============================ -->
            <div class="footer__3">
                <h4>Privacy</h4>
                <ul class="privacy">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Refund Policy</a></li>
                </ul>
            </div>

            <!-- ===================== FOOTER FOUR =============================== -->
            <div class="footer__4">
                <h4>Contact</h4>
                <div class="footer__text">
                    <p>+234 80 000 000 000</p>
                    <p>nutm@gmail.com <br /> SchoolSage@gmail.com</p>
                </div>

                <ul class="footer__socials">
                    <li><a href="#"><i class="uil uil-facebook-f"></i></a></li>
                    <li><a href="#"><i class="uil uil-instagram-alt"></i></a></li>
                    <li><a href="#"><i class="uil uil-twitter"></i></a></li>
                    <li><a href="#"><i class="uil uil-linkedin-alt"></i></a></li>

                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <small>&#169; SchoolSage. All rights reserved</small>
        </div>
    </footer>
    
    
    <!-- ===================== SWIPER JS ====================== -->
    <script src="./../static/js/swiper-bundle.min.js"></script>

    <script src="./../static/js/main.js"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            // When windows width is => 600px
            breakpoints : {
                600: {
                    slidesPerView: 2
                }
            }
        });
    </script>
</body>
</html>