<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchoolSage | ForSchools</title>

    <!-- ICONSCOUNT CDN -->
    <link rel="stylesheet" href="./../static/css/unicons.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- SWIPER CSS -->
    <link rel="stylesheet" href="./../static/css/swiper-bundle.min.css">
    
    <!-- FONT FAMILY -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./../static/css/style.css">
    
</head> 
<body>
    <!-- ================================== NAV START ================================= -->
    <nav>
        <div class="container nav__container">
            <a href="home.html"><h4><span>S</span>choolSage</h4></a>
            <ul class="nav__menu">
                <li><a href="parents.html">For Parents</a></li>
                <li><a href="schools.html">For Schools</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="#">Login</a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
        </div>
    </nav>

    <!-- ============================= NAV ENDS ========================================== -->


    <!-- ============================== HEADER STARTS ===================================== -->
    <header>
        <div class="container header__container">
            <div class="header__left">
                <h1>Partnering for Student Success</h1>
                <p>Equip your students to confidently choose their path with our proven approach to unveiling passions, skills, and ambitions. We provide resources and support to guide them towards educational and career success.</p>
                
            </div>
            <div class="header__right">
                <div class="header__right-image">
                    <img src="./../static/images/header.svg" alt="header">
                </div>
            </div>
        </div>
    </header>

    <!-- ================================= HEADER ENDS ========================================== -->
    <!-- ================================= CATEGORIGES STARTS =================================== -->
    <section class="categories">
        <div class="container categories__container">
            <div class="categories__left">
                <h1>How can we help you?</h1>
                <p>Help your students graduate career-ready! We offer hands-on learning, industry partnerships, and personalized guidance to ensure they develop the skills employers seek. See our offerings</p>
                <a href="contact.html" class="btn btn-primary">Contact our Team</a>
            </div>

            <!-- ================================ CATEGORIES ARTICLE STARTS =============================== -->
            <div class="categories__right">
                
                <article class="category">
                    <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                    <h5>Tutorials</h5>
                    <p>Struggling to find qualified tutors for specific subjects? Let us help! We offer a network of vetted and experienced tutors, ready to boost your students' success in various subjects.</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="uil uil-palette"></i></span>
                    <h5>Soft-skills Training</h5>
                    <p>We offer experienced trainers who can help your students develop the confidence, communication, and collaboration skills they need to thrive in any field and ensure their success.</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="uil uil-usd-circle"></i></span>
                    <h5>Technical Skills</h5>
                    <p>Is your school equipped to prepare students for the tech-driven future? We offer a team of industry experts ready to bridge the gap between education and real-world technical skills.</p>
                </article>

                <!--article class="category">
                    <span class="category__icon"><i class="uil uil-megaphone"></i></span>
                    <h5>Arts</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, ipsa.</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="uil uil-music"></i></span>
                    <h5>Governance</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, ipsa.</p>
                </article>
                
                <article class="category">
                    <span class="category__icon"><i class="uil uil-puzzle-piece"></i></span>
                    <h5>Technology</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, ipsa.</p>
                </article>

            </div>
            <!-- ============================ CAREGORIES ARTICLES ENDS ================================ -->
        </div>
    </section>

    <!-- =============================== CATEGORIES ENDS ========================== -->

    <!-- =========================== COURSES STARTS ======================== -->
    <section class="courses">
        <h2>Make your institution stand out</h2>
        <div class="container courses__container">
            <article class="course">
                <div class="course__image">
                    <img src="./../static/images/course1" alt="">
                </div>
                <div class="course__info">
                    <h4>Career Fairs</h4>
                    <p>
                        Ignite your students' career exploration with our dynamic career fairs! We bring universities, businesses, and experts together for interactive workshops, networking, and personalized guidance. Explore diverse careers, gain valuable insights, and build confidence – all within a seamless event we manage for you. Contact us to customize a fair for your school and empower your students' future paths!</p>
                    <a href="contact.html" class="btn btn-primary">Learn More</a>
                </div>
            </article>

            <article class="course">
                <div class="course__image">
                    <img src="./../static/images/course2" alt="">
                </div>
                <div class="course__info">
                    <h4>Preparatory CBT</h4>
                    <p>
                        Give your students the confidence to excel in external exams with our comprehensive preparatory program! We offer simulated exams mirroring the format and content of major assessments, delivered by experienced educators. Partner with us to equip your students with the knowledge and skills they need to shine in external exams, and boosting school's reputation. Contact us today and unlock their potential!

                    </p>
                    <a href="contact.html" class="btn btn-primary">Learn More</a>
                </div>
                </article>

            <article class="course">
                <div class="course__image">
                    <img src="./../static/images/course" alt="">
                </div>
                <div class="course__info">
                    <h4>Open Day Visits</h4>
                    <p>
                        We bring together diverse institutions, showcasing their facilities, programs, and vibrant campus life. Students can attend interactive sessions, engage with faculty and current students, and explore diverse academic paths through workshops, tours, and Q&A sessions. Partner with us to empower your students with a firsthand university experience and equip them to confidently navigate their next steps today!

                    </p>
                    <a href="contact.html" class="btn btn-primary">Learn More</a>
                </div>
            </article>
        </div>
    </section>
    <!-- ============================= COURSES ENDS ======================== -->

    <!-- ========================= FAQS CONTAINERS =========================== -->

    
    <!-- ===================== FAQS ENDS ====================== -->
    <!-- ======================= TESTIMONIALS STARTS ====================== -->

    <section class="container testimonials__container mySwiper">
        <h2>Speak to a Career Coach</h2>
        <div class="swiper-wrapper">

            <!-- ARTICLES 1 -->
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="./../static/images/avatar1.jpg" />
                </div>
                <div class="testimonial__info">
                    <h5>Azeez</h5>
                    <small>Career Coach</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Azeez is a dynamic young professional with a robust background and practical experience in finance, investment, and operations management. 
                    </p>
                </div>
            </article>

            <!-- ARTICLES 2 -->
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="./../static/images/avatar2.jpg" />
                </div>
                <div class="testimonial__info">
                    <h5>Omolade</h5>
                    <small>Career Coach</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Omolade is an Amazon Web Services community builder, collaborating with top talents worldwide to conduct training sessions on the latest cloud technologies for new users. 
                    </p>
                </div>
            </article>

            <!-- ARTICLES 3 -->
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="./../static/images/avatar3.jpg" />
                </div>
                <div class="testimonial__info">
                    <h5>Feyisayo</h5>
                    <small>Career Coach</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Feyisayo is a dynamic professional aspiring to excel in growth management, backed by experience in sales, marketing, customer service, and brand management. 
                    </p>
                </div>
            </article>

            <!-- ARTICLES 4 -->
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="./../static/images/avatar4.jpg" />
                </div>
                <div class="testimonial__info">
                    <h5>Esther</h5>
                    <small> Career Coach</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Esther brings a wealth of professional experience spanning Sales, Corporate Communications, and her most recent role at the pan-African Heirs Holdings Group.
                    </p>
                </div>
            </article>



            <!-- ARTICLES 5 
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="./images/avatar5.jpg" />
                </div>
                <div class="testimonial__info">
                    <h5>Samuel Peters</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cupiditate modi, fuga fugit pariatur rerum praesentium facilis quae, accusamus distinctio vel quaerat recusandae, dicta nobis laboriosam architecto officiis obcaecati! Magni!
                    </p>
                </div>
            </article>

            <!-- ARTICLES 6 
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="./images/avatar6.jpg" />
                </div>
                <div class="testimonial__info">
                    <h5>Kate Isa'ac</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cupiditate modi, fuga fugit pariatur rerum praesentium facilis quae, accusamus distinctio vel quaerat recusandae, dicta nobis laboriosam architecto officiis obcaecati! Magni!
                    </p>
                </div>
            </article>

            <!-- ARTICLES 7 
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="./images/avatar7.jpg" />
                </div>
                <div class="testimonial__info">
                    <h5>Jedidiah Jonathan</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cupiditate modi, fuga fugit pariatur rerum praesentium facilis quae, accusamus distinctio vel quaerat recusandae, dicta nobis laboriosam architecto officiis obcaecati! Magni!
                    </p>
                </div>
            </article> -->
        </div> 
        <div class="swiper-pagination"></div>
    </section>
    <!-- ====================== TESTIMONIALS ENDS ========================== -->

    <section class="faqs">
        <h2>Frequently Asked Questions</h2>
        <div class="container faqs__container">
            <!-- ARTICLES 1 -->
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do I know the right courses for me</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi et minima earum voluptatibus, rerum doloribus sequi. Asperiores laboriosam minima commodi ipsam distinctio quasi impedit eius iste perspiciatis omnis, deserunt voluptatem.
                    </p>
                </div>
            </article>

            <!-- ARTICLES 2 -->
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do I find out more about courses</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi et minima earum voluptatibus, rerum doloribus sequi. Asperiores laboriosam minima commodi ipsam distinctio quasi impedit eius iste perspiciatis omnis, deserunt voluptatem.
                    </p>
                </div>
            </article>

            <!-- ARTICLES 3 -->
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>I'm not sure where to start from. What do I do?</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi et minima earum voluptatibus, rerum doloribus sequi. Asperiores laboriosam minima commodi ipsam distinctio quasi impedit eius iste perspiciatis omnis, deserunt voluptatem.
                    </p>
                </div>
            </article>

            <!-- ARTICLES 4 -->
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How can I connect with a tutor</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi et minima earum voluptatibus, rerum doloribus sequi. Asperiores laboriosam minima commodi ipsam distinctio quasi impedit eius iste perspiciatis omnis, deserunt voluptatem.
                    </p>
                </div>
            </article>   
        </div>
    </section>

    <!-- =========================== FOOTER ARTS ================================= -->

    <footer class="footer">
        <div class="container footer__container">
            <!-- ====================== FOOTER GRID =========================== -->

            <!-- ====================== FOOTER ONE ============================= -->
            <div class="footer__1">
                <a href="home.html" class="footer__logo"><h4>SchoolSage</h4></a>
                <p>Embark on a Journey of Self-Discovery and Academic Exploration.</p>
            </div>

            <!-- ====================== FOOTER TWO ============================= -->
            <div class="footer__2">
                <h4>Links</h4>
                <ul class="Links">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="courses.html">Courses</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>

            <!-- ======================= FOOTER THREE ============================ -->
            <div class="footer__3">
                <h4>Privacy</h4>
                <ul class="privacy">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Refund Policy</a></li>
                </ul>
            </div>

            <!-- ===================== FOOTER FOUR =============================== -->
            <div class="footer__4">
                <h4>Contact</h4>
                <div class="footer__text">
                    <p>+234 80 000 000 000</p>
                    <p>nutm@gmail.com <br /> SchoolSage@gmail.com</p>
                </div>

                <ul class="footer__socials">
                    <li><a href="#"><i class="uil uil-facebook-f"></i></a></li>
                    <li><a href="#"><i class="uil uil-instagram-alt"></i></a></li>
                    <li><a href="#"><i class="uil uil-twitter"></i></a></li>
                    <li><a href="#"><i class="uil uil-linkedin-alt"></i></a></li>

                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <small>&#169; SchoolSage. All rights reserved</small>
        </div>
    </footer>
    
    <!-- ===================== SWIPER JS ====================== -->
    <script src="./../static/js/swiper-bundle.min.js"></script>

    <script src="./../static/js/main.js"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            // When windows width is => 600px
            breakpoints : {
                600: {
                    slidesPerView: 2
                }
            }
        });
    </script>
</body>
</html>